header {
  height: 15%;
  display: flex;
  justify-content: center;
}

.logo {
  margin-left: 10px;
  box-shadow: 10px 10px 25px 25px rgb(230, 224, 216);
  margin-top: 10px;
  width: 10%;
  height: 50%;
  border-radius: 5px;
  border: 2px solid black;
  background-image: url("headerimgs/fb813c0551839357419e01a7165abc2d.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  opacity: 0.6;
}
.logo:hover {
  opacity: 1;
}
.space {
  width: 80%;
  height: 50%;
  margin-top: 10px;
}
.menu {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 50%;
  width: 10%;
}
.dismenu {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -55%;
  top: 40px;
  border-radius: 10px;
  display: none;
}

.menu:hover .dismenu {
  opacity: 0.7;
  z-index: 1;
  height: 200px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    rgb(58, 53, 53) 50%,
    rgb(19, 83, 29),
    pink,
    rgb(87, 87, 3)
  );
}
a {
  color: white;
  background-color: black;
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  background-color: black;
  color: rgb(0, 0, 0);
}

.burger-menu {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("headerimgs/12144318.png");
}
@media (max-width: 400px) {
  .logo {
    width: 25%;
    height: 25%;
  }
  .land {
    font-size: 15px;
  }
  .loremtext {
    height: 10%;
  }

  a {
    font-size: 15px;
    color: black;
  }
  .dismenu {
    display: block !important;
    position: absolute !important;
    left: -109px;
    border-radius: 0px !important;
    opacity: 1 !important;
    top: -10px;
    height: 100px !important;
  }
}
