.section3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid orange;
}
.section3works {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", Static;
  font-size: 40px;
  color: rgba(37, 73, 73, 0.479);
}
.section3lorem {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "Pinyon Script", Static;
  color: rgb(0, 0, 0);
}
.section3blocks {
  width: 80%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec3block1 {
  width: 95%;
  height: 32%;
  display: flex;
  justify-content: center;
}
.block1box1 {
  width: 30%;
  height: 100%;
  margin-right: 5px;
}
.block1box2 {
  width: 30%;
  height: 100%;
}
.block1box3 {
  width: 30%;
  height: 100%;
  margin-left: 5px;
}
.sec3block2 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 95%;
  height: 30%;
}
.block2box1 {
  width: 30%;
  height: 100%;
  margin-right: 5px;
}
.block2box2 {
  width: 30%;
  height: 100%;
}
.block2box3 {
  width: 30%;
  height: 100%;
  margin-left: 5px;
}
.sec3block3 {
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: center;
}
.block3box1 {
  width: 30%;
  height: 100%;
  margin-right: 5px;
}
.block3box2 {
  width: 30%;
  height: 100%;
}
.block3box3 {
  width: 30%;
  height: 100%;
  margin-left: 5px;
}
.imgsec3 {
  width: 100%;
  height: 100%;
}
@media (max-width: 400px) {
  .imgsec3 {
    width: 100%;
    height: 80%;
  }
}


