body {
  opacity: 1;
  animation: loading 5s linear;
}

.sectionone {
  height: 84.8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landingtext {
  font-family: "Oleo Script", sans-serif;
  display: flex;
  font-size: 5%;
  width: 100%;
  height: 25%;
  font-size: 5px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  text-decoration: dashed;

  justify-content: center;
}
.land {
  text-align: center;
  font-size: 20px;
  color: rgb(37, 14, 14);
}
.loremtext {
  width: 90%;
  height: 25%;
  font-size: 30px;
  color: rgb(14, 14, 12);
  font-weight: 800;
  font-family: "Pinyon Script", Static;
  text-align: center;
}
.inputblock {
  width: 100%;
  height: 45%;
  display: flex;
}
.inputcont {
  text-align: center;
  margin-left: 125px;
  width: 20%;
  height: 100%;
  border: 1px solid black;
  background-color: rgba(220, 221, 223, 0.822);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputcont input {
  margin: 5px;
  text-decoration: none;
  list-style: none;
  height: 15%;
  font-size: 25px;
}
p {
  color: rgba(140, 141, 135, 0.877);
  font-size: 30px;
  font-weight: 800;
}
.spacebtn {
  height: 20%;
  margin-bottom: 5px;
}
.btn {
  width: 75%;
  height: 60%;
  border-radius: 25px;
  font-size: 20px;
  background-color: orangered;
  color: white;
}
.sectionone {
  background-image: url("sectiononeimg/home-office-1867761_1280.jpg");
  background-size: cover;
}

input::placeholder {
  font-size: 10px;
}
.btnsend {
  font-size: 10px;
  margin: 0;
  color: white;
}
@media (max-width: 400px) {
  .inputblock {
    display: flex;
    justify-content: left;
    width: 620px;
  }
  input::placeholder {
    font-size: 15px;
  }
}
