.section4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4text {
  height: 10%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: rgb(165, 44, 0);
}
.section4lorem {
  height: 20%;
  width: 100%;
  font-family: "Pacifico";
  font-size: 25px;
  color: rgb(54, 54, 50);
  text-align: center;
}
.section4block {
  height: 65%;
  width: 80%;
  display: flex;
  justify-content: space-around;

  align-items: center;
}
.sec4box1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30%;
  height: 80%;
  background-image: url("section4img/girl-3033718_640.jpg");
  background-size: cover;
}
.person1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: 20%;
  font-size: 10px;
}
.bedi {
  color: rgb(206, 83, 12);
}
.alisa {
  color: rgb(206, 83, 12);
}
.clint {
  color: rgb(206, 83, 12);
}
.person2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: 20%;
  font-size: 10px;
}
.person3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: 20%;
  font-size: 10px;
}
.sec4box2 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80%;
  background-size: cover;

  background-image: url("section4img/girl-4733999_640.jpg");
}
.sec4box3 {
  background-image: url("section4img/man-7428290_640.jpg");
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
}
@media (max-width: 400px) {
  .section4text {
    font-size: 27px;
  }
  .section4lorem {
    font-size: 20px;
  }
  .bedi {
    font-size: 15px;
    background-color: rgba(236, 236, 238, 0.24);
  }
  .person1 {
    width: 100%;
    text-align: center;
  }
  .sec4box1 {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-x: -30px;
    justify-content: center;
    height: 200px;
  }

  .alisa {
    font-size: 15px;
    background-color: rgba(207, 71, 8, 0.199);
  }
  .person2 {
    width: 100%;
    text-align: center;
  }
  .sec4box2 {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-x: -30px;
    justify-content: center;
    height: 200px;
  }

  .clint {
    font-size: 15px;
    background-color: rgba(236, 236, 238, 0.24);
  }
  .person3 {
    width: 100%;
    text-align: center;
  }
  .sec4box3 {
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-x: -30px;
    justify-content: center;
    height: 200px;
  }
}
