html,
body {
  margin: 0;
  height: 100%;
  background-color: rgba(165, 159, 159, 0.158);
  cursor: url("scrollpng/svgviewer-output.svg") 0 0, auto;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(
    rgb(71, 45, 49),
    rgb(87, 57, 57),
    rgb(42, 42, 88),
    rgb(92, 92, 35)
  );
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, pink, red, blue, yellow, gold, pink);
  border-radius: 25px;
  background-size: 550% 550%;
}

.loading {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  animation: move 4s linear forwards;
  background-color: black;
}

.loadgif {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 45%;
  top: 40%;
}
@keyframes move {
  0% {
    background-color: black;
  }
  100% {
    opacity: 1;
    background-color: transparent;
    display: none;
  }
}
